
<!DOCTYPE html>
<html ng-app="shop" lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./Scripts/shop.js"></script>
    <meta charset="utf-8">
    <title>Anything4You</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body ng-controller="ItemController">

    <div class="header">
        <h1>
          <a href="./index.html" class="headerl">Anything4You</a>
        </h1>
    </div>

    <div class ="searchbar">
      <select name="selectTag" ng-model="selectTag">
        <option value="">Filter Search</option>
        <option value="gaming">Gaming</option>
        <option value="apparel">Apparel</option>
        <option value="home">Home and Decoration</option>
        <option value="kitchen">Kitchen</option>
      </select>

      <div class="search-container">
        <input type="text" id="search" placeholder="search">
        <button class="searchButton">Go</button>
      </div>

      <div>
        <a href="./account.html">Account</a>
        <a href="./cart.html">Cart</a>
      </div>
    </div>

    <nav class ="filters">
      <h3>Price Range</h3>
      <select name="price" ng-model="cPrice" id="priceOptions">
        <option value=""> Select an option</option>
        <option value="50"> >$50</option>
        <option value="gaming">$50-$100</option>
        <option value="apparel">$100-$150</option>
        <option value="home">$150+</option>

      </select>
    </nav>

    <article class="images">
      <div ng-repeat="i in images | filter:selectTag | filter:price" class="imageWithText">
        <a href = "./productDetail.html">
          <img src="{{i.img1}}" alt="{{i.alt}}">
          <p>{{i.name}}<br>{{i.price}}<br></p>
        </a>
      </div>




    </article>



  </body>
</html>
