<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MyApp</title>
    <link rel="stylesheet" type="text/css" href="./app.component.css">
  </head>
  <body>
    <div class="header">
        <h1>Anything4You</h1>
    </div>

    <div class ="searchbar">
      <select id="cars">
        <option value=" ">Filter Search</option>
        <option value="gaming">Gaming</option>
        <option value="apparel">Apparel</option>
        <option value="home">Home and Decoration</option>
        <option value="kitchen">Kitchen</option>
      </select>

      <div class="search-container">
        <input type="text" id="search" placeholder="search">
        <button class="searchButton">Go</button>
      </div>

      <div>
        <a href="#account">Account</a>
        <a href="#cart">Cart</a>
      </div>
    </div>

    <nav class ="filters">
      <h3>Price Range</h3>
      <select id="priceOptions">
        <option value=" "> Select an option</option>
        <option value="50"> >$50</option>
        <option value="gaming">$50-$100</option>
        <option value="apparel">$100-$150</option>
        <option value="home">$150+</option>

      </select>
    </nav>

    <article class="images">
      <a href = "./assets/images/ps4.jpg">
        <img src="./assets/images/ps4.jpg" alt="Playstore balance card">
      </a>
    </article>



  </body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
